@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  background-color: #000000;
  color: #e4e4e7;
  -webkit-font-smoothing: antialiased;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #52525b transparent;
}
